{% extends 'Home/index_home.html' %}

{% block CONTENIDO %}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">{{ object }}</span>
                            <span class="section-heading-lower">Eliminar Personaje</span>
                        </h2>
                        <p class="mb-0">¿Está seguro que desea eliminar "{{ object }}"?</p>
                        <br>
                        <center>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirmar</button>
                            </form>
                        </center>
                        <br>
                        <center>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'Home:home' %}">Volver a página principal</a></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
{% endblock CONTENIDO %}
